---
import { Header, Footer, HeroSection, MyListSection } from '@/components'
import { Layout } from '@/layouts'
---

<Layout>
  <Header />

  <main>
    <HeroSection />
    <MyListSection />
  </main>

  <Footer />
</Layout>

<style is:global>
  main {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding-bottom: 2rem;
  }

  main > section:first-of-type {
    margin-bottom: -2.5rem;
  }
</style>
