---
import { Header, Footer, HeroSection, MyListSection } from '@/components'
import { Layout } from '@/layouts'
---

<Layout>
  <Header />

  <main>
    <HeroSection />
    <MyListSection />
  </main>

  <Footer />
</Layout>
