---
import { Image } from 'astro:assets'
import NetflixLogo from '@/assets/logos/netflix-logo.png'
import ProfileAvatar from '@/assets/avatars/profile-avatar.png'

import { SearchIcon, BellIcon } from '@/assets/icons'
---

<header class="main-header">
  <Image class="header-logo" src={NetflixLogo} alt="Logotipo de Netflix" />

  <nav id="nav">
    <div class="nav-links-wrapper">
      <div class="nav-links-mobile">
        <span class="nav-mobile-trigger">Menu</span>
        <span class="dropdown-icon"></span>
      </div>

      <div class="nav-links-content">
        <span class="separation"></span>

        <div class="nav-links">
          <a href="#home" class="active">Inicio</a>
          <a href="#shows">Series</a>
          <a href="#films">Películas</a>
          <a href="#news">Novedades más vistas</a>
          <a href="#my-list">Mi lista</a>
          <a href="#">Explorar por idiomas</a>
        </div>
      </div>
    </div>

    <div class="nav-utils">
      <button class="expandible search-util">
        <SearchIcon />
      </button>

      <button class="expandible notifications-util">
        <BellIcon />
      </button>

      <button class="profile-util">
        <Image src={ProfileAvatar} alt="Avatar de usuario" />
        <span class="dropdown-icon"></span>
      </button>
    </div>
  </nav>
</header>

<style>
  .main-header {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 2.8rem;
    width: 100%;
    padding: 1.3rem var(--padding-inline) 1.2rem;
    background-color: transparent;
    z-index: 999;
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;

    & img {
      width: 92.5px;
      height: 25px;
    }

    & nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  @keyframes adjust-header {
    to {
      background-color: rgb(20 20 20);
    }
  }

  .nav-links-mobile {
    display: none;
  }

  .nav-links,
  .nav-utils {
    display: flex;
    align-items: center;
    gap: 1.4rem;
  }

  .nav-links {
    padding-bottom: 0.25rem;

    & a {
      color: #fff;
      font-size: 14px;
      text-decoration: none;
      letter-spacing: 0.5px;
      font-weight: 350;
    }

    & a.active {
      font-weight: 650;
    }
  }

  .nav-utils {
    align-items: end;

    & button {
      background-color: transparent;
      border: none;
      outline: none;
      transition: transform 367ms cubic-bezier(0.21, 0, 0.07, 1);
    }

    & button.expandible:focus {
      transform: scale(1.2);
    }

    & button svg {
      --size: 24px;
      width: var(--size);
      height: var(--size);
      color: #fff;
    }

    & button img {
      --size: 30px;
      width: var(--size);
      height: var(--size);
      border-radius: 4px;
    }

    & .profile-util {
      display: flex;
      align-items: center;
      cursor: pointer;
      display: flex;
      width: 100%;
    }
  }

  .dropdown-icon {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    height: 0;
    margin-left: 10px;
    transition: transform 367ms cubic-bezier(0.21, 0, 0.07, 1);
    width: 0;
  }

  @media screen and (width < 880px) {
    .main-header {
      padding: 1rem var(--padding-inline);

      & img {
        width: 52.5px;
        height: 16px;
      }

      & .nav-links-wrapper {
        position: relative;
      }

      & .nav-links-mobile {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 650;
        cursor: pointer;
      }

      & .nav-mobile-trigger {
        padding-bottom: 0.35rem;
      }

      & .nav-links {
        display: none;
      }

      & .nav-links-wrapper:hover .nav-links-content {
        position: absolute;
        left: calc(-55% - 5rem);
        display: flex;
        flex-direction: column;
      }

      & .nav-links-wrapper:hover .nav-links {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        width: max-content;
        background-color: rgba(0 0 0 / 0.93);
        border-top: 2px solid #fff;
        opacity: 1;

        transition:
          opacity 300ms ease-in-out,
          display 300ms ease-in-out allow-discrete;

        @starting-style {
          opacity: 0;
        }
      }

      & .nav-links-wrapper:hover .nav-links::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-color: transparent transparent #fff;
        border-style: solid;
        border-width: 0 5px 5px;
        margin-top: -6.5px;
        margin-left: calc(50% - 6px);
      }

      & .nav-links-content .separation {
        height: 2rem;
        background-color: transparent;
      }

      & .nav-links a {
        font-size: 12px;
        padding: 2.5rem 7rem;
        text-align: center;
        width: 100%;
        color: #bbb;
      }

      & .nav-links a.active {
        color: #fff;
      }

      & .nav-links a:hover {
        background-color: rgba(125 125 125 / 0.1);
      }

      & .nav-links a.active {
        cursor: default;
      }

      & .nav-utils .profile-util img {
        --size: 28px;
      }
    }
  }

  @media screen and (width < 576px) {
    .main-header .nav-utils .search-util {
      display: none;
    }
  }
</style>
