---

---

<div class="section-content">
  <slot />
</div>

<style>
  .section-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.4rem;
  }

  .section-content article {
    width: 100%;
    cursor: pointer;
  }

  .section-content article > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
</style>
